<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body> 
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">CSRF</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    @if (Session["USER"] != null)
                    {
                        <li class="nav-item active">
                            @Html.ActionLink("vulnerable", "Buy", "CSRF", null, new { @class = "nav-link" });
                        </li>
                        <li class="nav-item active">
                            @Html.ActionLink("not vulnerable", "Buy", "Protected", null, new { @class = "nav-link" });
                        </li>
                    }
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    @if (Session["USER"] != null)
                    {
                        <a class="navbar-brand" href="#">Welcome back @Session["USER"].ToString()!</a>
                    }
                    else
                    {
                        @Html.ActionLink("Login", "Login", "Validation", null, new { @class = "btn bg-light" });
                    }
                </form>
            </div>
        </nav>                                
    </div>    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>